.event {
  margin-bottom: 5.2rem;
  width: 32.409rem;
  height: 47.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75em;
  background: var(--white);

  figure {
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    padding: 0;
    width: 28.5rem;
    height: 28.1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 8vh 15vw 0vh 15vw;

    &__title {
      width: 28.409rem;
      height: 3.3rem;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: var(--navy);
      padding-left: 20vw;
      padding-right: 20vw;
    }

    &__show {
      position: relative;
      bottom: 10;
      height: 8vh;
      width: 14em;
      background: var(--blue);
      font-style: normal;
      font-weight: 600;
      font-size: var(--h4);
      line-height: 3rem;
      text-decoration: none;
      color: var(--white);
      background: var(--blue);
      border-radius: 0.5em;
      cursor: pointer;
      
    }
  }
}
