.resumen {
  margin: 0px;
  padding: 0vh 25vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {

    margin-bottom: 10vh;
    width: 100vw;
    height: var(--h2);
    font-style: normal;
    font-weight: 600;
    font-size: var(--h2);
    line-height: 1.5em;
    color: var(--blue);
    text-align: center;
  }

  &-list {


    padding: 0px;
    height: 566px;
    width: 854.67px;
    background: var(--white);
    overflow-x: hidden;
    overflow-y: auto;

    &-head {
      margin: 0px 25px;
      padding: 0px;
      width: 794.667px;
      height: 76.5px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      border-bottom: 1px solid var(--navy);

      &__title {
        margin: 0px;
        padding-top: 1vh;
        width: 56px;
        height: 36px;
        font-style: normal;
        font-weight: 600;
        font-size: var(--h4);
        line-height: 1.5em;
        color: var(--navy);
      }
    }

    &-body {
      margin: 0px 25px;
      padding: 0px;
      width: 794.667px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      border-bottom: 1px solid var(--navy);

      &__item {
        margin: 0px;
        padding: 0px;
        width: 56px;
        height: 36px;
        font-style: normal;
        font-weight: 300;
        font-size: var(--p);
        line-height: 1.5em;
        color: var(--navy);
      }

      &__show {
        margin: 0px;
        padding: 0px;
        width: 56px;
        height: 36px;
        cursor: pointer;
        font-style: normal;
        font-weight: 800;
        font-size: var(--p);
        line-height: 1.5em;
        color: var(--navy);

        &:hover {
          width: max-content;
          color: var(--blue);
        }
      }

      &__address {
        margin: 0px;
        padding: 0px;
        width: 56px;
        height: 36px;
        cursor: pointer;
        font-style: normal;
        font-weight: 800;
        font-size: var(--p);
        line-height: 1.5em;
        color: var(--navy);
        
        &:hover {
          width: max-content;
          color: var(--blue);
        }
      }
    }

    &-footer {
      margin: 0px 25px;
      padding: 0px;
      width: 794.667px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      border-bottom: 1px solid var(--navy);

      &__item {
        margin: 0px;
        padding: 0px;
        width: 56px;
        height: 36px;
        font-style: normal;
        font-weight: 600;
        font-size: var(--p);
        line-height: 1.5em;
        color: var(--navy)0;
      }

      &__wallet {
        margin: 0px;
        padding: 0px;
        width: 56px;
        height: 36px;
        font-style: normal;
        font-weight: 800;
        font-size: var(--p);
        line-height: 1.5em;
        color: var(--blue);

        &:hover {
          width: max-content;
          border-bottom: 2px solid var(--blue);
        }

      }

      &-value {
        margin: 0px;
        padding: 0px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        column-gap: 8px;

        &__item {
          margin: 0px;
          padding: 0px;
          font-style: normal;
          font-weight: 800;
          font-size: var(--p);
          line-height: 1.5em;
          color: var(--navy);
        }
      }
    }
  }
}
