.collection-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 8px;
  height: max-content;
  width: 695px;

  &__cancel {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 28px;
    padding-top: 2px;
    padding-right: 10px;
    max-width: max-content;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    figure {
      margin: 0px;
      padding: 0px;
      height: 355px;
      width: 355px;

      img {
        height: 355px;
        width: 355px;
        transition: transform 0.3s ease;
      }
    }
  }

  &-description {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 271px;

    &-sale {
      margin: 0px;
      padding-left: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      max-width: max-content;

      &__title {
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0px;
        max-width: max-content;
  
        p {
          max-width: max-content;
        }
      }
  
      &__price {
        font-size: 14px;
        font-weight: bold;
        margin: 0px;
        max-width: max-content;
  
        p {
          max-width: max-content;
        }
      }

      &__attribute {
        display: flex;
        align-items: center;
        justify-content: right;
        justify-content: space-between;
        float: right;
        font-size: 14px;
        margin: 0px;

        a {
          color: #69a6ce;
          text-decoration: none;
          border-bottom: 0.1px solid #212121;
          max-width: max-content;
        }

        p {
          max-height: min-content;
          max-width: max-content;
        }
      }

      &__currency {
        color: #b0b0b0;
        font-size: 12px;
        margin: 12px 0px;
        padding-top: 3px;
        max-width: max-content;

        p {
          max-width: max-content;
        }
      }
    }

    &-container {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      column-gap: 8px;
      margin: 0px;
      max-width: 100%;
      
      &__title {
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0px;
        max-width: max-content;
  
        p {
          max-width: max-content;
        }
      }
  
      &__price {
        font-size: 14px;
        font-weight: bold;
        margin: 0px;
        max-width: max-content;
  
        p {
          max-width: max-content;
        }
      }

      &__attribute {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        margin: 0px;
        padding: 0px;

        a {
          color: #69a6ce;
          text-decoration: none;
          border-bottom: 0.1px solid #212121;
          max-width: max-content;
        }

        p {
          max-width: max-content;
        }
      }

      &__currency {
        color: #b0b0b0;
        font-size: 12px;
        margin: 12px 0px;
        padding-top: 3px;
        max-width: max-content;

        p {
          max-width: max-content;
        }
      }
    }

    &__text {
      padding-left: 6px;
      padding-top: 16px;
      font-size: 14px;
      width: 96%;
    }
  }
}
