.button-wallet {
  margin: 0;
  padding: 1.5rem 2.5rem;
  max-width: max-content;
  cursor: pointer;
  background: #9747ff;
  border-radius: 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
}
