.dashboard {
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-personal {
    margin: 2.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-notifications {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__loading {
    margin-top: 160px;
    margin-bottom: 160px;
    height: auto;
    width: auto;
  }
}
